<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>岳沐企業｜@ViewData["Title"]</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">
    <!-- //web fonts -->
    
    <link rel="stylesheet" href="~/css/owl-carousel.css" />
    @* <link rel="stylesheet" href="~/css/fontawesome.css" /> *@
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/bootstrap.js"></script>
    
    
</head>
<body>
    <!-- Top Menu 1 -->
<section class="top-menu-1">
	<div class="top-hd">
		<div class="container">
	<header class="row">
		<div class="social-top col-sm-6 col-8 pl-0">
      <li class="top_li1">
        <a href="https://www.facebook.com/RYMimoney/" target="_blank">
        <img src="~/images/icon_facebook.svg" alt="岳沐企業_Facebook"></a>
      </li>
			<li class="top_li2">
        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=rym-i-money" target="_blank">
        <img src="~/images/icon_line.svg" alt="岳沐企業_Line"></a>
      </li>
      <li><a class="text-white d-block d-lg-none" href="tel:0916-544-389">0916-544-389</a></li>
		</div>
		<div class="accounts col-sm-6 col-4 pr-0">
				<li class="top_li1"><a href="/Home/Login">登入</a></li>
				<li class="top_li2"><a href="/Home/Register">註冊</a></li>
		</div>
		
	</header>
</div>
</div>
</section>
<!-- //Top Menu 1 -->
<section class="bootstrap-header">
  <nav class="navbar navbar-expand-md navbar-light py-lg-2 py-2">
    <div class="container">
      <!-- <a class="navbar-brand" href="index.html"><span>D-</span>Business</a> -->

      <a class="navbar-brand" href="/Home/Index">
        <img src="~/images/logo.svg" alt="岳沐企業" title="岳沐企業" style="height:46px;" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Home/Index#news">最新消息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Home/Index#service">服務項目</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Home/Index#about">公司簡介</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Home/Index#question">常見問題</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Home/Index#contact">聯絡我們</a>
          </li>
        </ul>
        <p class="d-none d-lg-block"><a href="tel:0916-544-389">0916-544-389</a></p>
      </div>
    </div>
  </nav>
</section>

@RenderBody()
    
<!-- Footer -->
<section class="footer-29-main">
    <div class="footer-29">
        <div class="container">
            <p class="copy-footer-29">© 2021 RYMimoney ｜ All rights reserved</p>
        </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</section>
<!-- //Footer -->

<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });  
</script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
