
@{
    Layout = null;
}


<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>商品資訊</th>
            <th>申請日期</th>
            <th>審件編號</th>
            <th>案件狀態</th>
            <th>撥款狀態</th>
            <th>撥款時間</th>
            <th>撥款金額</th>
            <th>繳款方式</th>
            <th>中文姓名</th>
            <th>身份證字號</th>
            <th>行動電話</th>
            <th>辦理分期金額</th>
            <th>進件人員</th>
            <th>功能列</th>
        </tr>
    </thead>
</table>

<script>
    $(function () {
        $('#dataTable')
            .on('preXhr.dt', function (e, settings, data) {
                $.blockUI({ message: '<h1>資料讀取中...</h1>' });
            })
            .on('xhr.dt', function (e, settings, json, xhr) {
                $.unblockUI();
            }).DataTable({
                searching: false,
                columns: [
                    { data: "bus_type", orderable: false },
                    {
                        data: "receive_date", orderable: false, render: function (data, type, row, meta) {
                            //if (moment(data).isValid()) { return moment(data).format('YYYY/MM/DD HH:mm:ss'); } else { return ""; }
                            return moment(data).isValid() ? moment(data).format('YYYY/MM/DD HH:mm:ss') : ""
                        }
                    },
                    { data: "examine_no", orderable: false },
                    {
                        data: "error_message", orderable: false,
                        "render": function (data, type, row, meta) {
                            return data == null || data == '' ? row.receive_status : row.receive_status + "<br />" + row.error_message
                        }
                    },
                    {
                        data: "appropriation_status", orderable: false, render: function (data, type, row, meta) {
                            switch (data) {
                                case 'A001':
                                    return '未申請';
                                    break;
                                case 'A002':
                                    return '申請中';
                                    break;
                                case 'A003':
                                    return '撥款中';
                                    break;
                                case 'A004':
                                    return '已撥款';
                                    break;
                            }
                        }
                    },
                    { data: "appropriationDate", orderable: false },
                    { data: "appropriationAmt", orderable: false },
                    { data: "repayKindName", orderable: false},
                    { data: "customer_name", orderable: false },
                    { data: "customer_idcard_no", orderable: false },
                    { data: "customer_mobile_phone", orderable: false },
                    {
                        data: "staging_amount", orderable: false, render: function (data, type, row, meta) {
                            return data == null ? 0 : parseInt(data).currency()
                        }
                    },
                    { data: "receive_staff_name", orderable: false },
                    {
                        data: "receive_id", render: function (data, type, row, meta) {
                            if (row.examine_no != null) {
                                return data = "<a class='btn btn-success' style='margin: 0 5px 0 5px;' href='@Url.Action("Edit", "Grant", new { Area = "ApplyForm" })?id=" + data + "'>查詢</a>" +
                                    "<a class='btn btn-success' style='margin: 0 5px 0 5px;' onclick='UudateStatus(\"" + row.examine_no + "\");' >更新撥款狀態</a>";
                            } else {
                                return data = "<a class='btn btn-success' style='margin: 0 5px 0 5px;' href='@Url.Action("Edit", "Grant", new { Area = "ApplyForm" })?id=" + data + "'>查詢</a>";
                            }
                        }
                    }
                ],
                //serverSide: true,
                ajax: {
                    method: "POST",
                    url: "@Url.Action("Table", "Grant", new { Area = "ApplyForm" })",
                    data: function (d) {
                        d.receive_date = $("#receive_date").val();
                        d.customer_idcard_no = $("#customer_idcard_no").val();
                        d.receive_staff = $("#receive_staff").val();
                        d.receive_status = $("#receive_status").val();
                    }
                },
                oLanguage: dataTableSettings,
                ordering: false,
                orderMulti: false
            });
    });

    function UudateStatus(examine_no) {
        $.ajax({
            url: '@Url.Action("UudateStatus", "Grant", new { Area = "ApplyForm" })',
            data: { examine_no: examine_no },
            type: 'POST',
            success: function (data) {
                if (data != '') {
                    $.notify(data, {
                        className: "warn",
                        position: "top center"
                    });
                }
                GetTable();
            }
        })
    }

</script>