@{
    ViewData["Title"] = "成功提交";
    Layout = "_Layout_login";
}
<section style="background-color: #fafafa;">
  <div class="success-page text-center py-4">
    <div class="container py-lg-3 py-2">
      <h3>恭喜您已成功提交申請書</h3>
      <h4 class="pb-1">我們將在審核完畢後立即與您聯繫</h4>
      <img src="~/images/success.svg" alt="恭喜您已成功提交申請書" class="img-fluid" width="400px">

      <h5 class="pt-4 pb-2">2021/09/08 15:00 已送件<br>
        請加入<a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=rym-i-money">LINE洽客服人員</a>
      </h5>
      <p class="pb-2">( 審核通常在兩個小時內完成，請留意您的手機，若超過平日晚間八點或假日晚間五點，則會隔日通知您。 )</p>

      <ol class="cjk-list">
        <li>詐騙手法日益新，你我務必要小心！</li>
        <li>詐騙知識不可少，多方求證保荷包！</li>
        <li>陌生電話不牢靠，反覆查詢很重要！</li>
        <li>反詐資訊不能少，一旦受騙錢難保！</li>
        <li>網路購物要小心，低價商品莫貪心！</li>
        <li>千騙、萬騙，就是不離ATM！</li>
      </ol>
      <h5>「反詐騙 諮詢專線165」電話，提供民眾諮詢</h5>      
    </div>
  </div>
</section>