@{
    ViewData["Title"] = "首頁";       
}
<!-- Banner -->
<section class="main-slider" id="home">
    <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
        <div class="banner-info">
            <div class="container">
                <div class="banner-info-bg mx-auto text-center">
                    <h5>掌中金融 <bold>隨時金援您</bold></h5>
                    <div>
                        <a class="btn btn-theme2 mt-md-5 mt-4 mx-2" href="@Url.Action("Login", "Home")">立即申辦</a>
                        <a class="btn btn-secondary btn-theme mt-md-5 mt-4 mx-2" target="_blank" href="https://666.yurich.com.tw/">繳款查詢</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Banner -->

<!-- 最新消息 News -->
<section class="mobile-content-6" id="news">
    <div class="mobile-info py-5">
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">最新消息 News</h3>
                <div class="news-content pt-4">
                    @*<a href="#"><p class="ellipsis1" data-toggle="modal" data-target="#newsModal" onclick="showModal();">原車融資最高35萬54期</p></a>
                    <a href="#"><p class="ellipsis1" data-toggle="modal" data-target="#newsModal" onclick="showModal();">商品借款分期最高33萬50期</p></a>*@
                    <a href="#"><p class="ellipsis1" data-toggle="modal" data-target="#newsModal" onclick="showModal();">
                        貸款分期最高45萬(無機車也可申辦)
                        </p></a>
                    <a href="#"><p class="ellipsis1" data-toggle="modal" data-target="#newsModal" onclick="showModal();">手續費2.5%起</p></a>
                    <a href="#"><p class="ellipsis1" data-toggle="modal" data-target="#newsModal" onclick="showModal();">審核最快隔天撥款</p></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //最新消息 News -->

<!-- 我們的服務 Our Service -->
<section class="mobile-content-7" id="service">
    <div class="mobile-info py-5">
        <!-- /mobile-info-->
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">我們的服務 Our Service</h3>
                <p class="my-3 head">從事不同層級機車與其相關產品，各項商品(如補教業、健身房、型美、綠能等)<br>
                申辦融資分期服務業務。
                </p>
            </div>

            <div class="row mobile-info-inn mt-5 pt-3">
                <div class="col-lg-6 image-left">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right">
                                <span class="fa fa-motorcycle"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">機車/重型機車原車融資</a></h6>
                            <p>分期免設定、免抵押，無壓力。</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right">
                                <span class="fa fa-cube"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">個人小額信用借款</a></h6>
                            <p>調度資金不求人、輕鬆無負擔</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right">
                                <span class="fa fa-retweet"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">國產、進口重型機車(新/中古)分期付款</a></h6>
                            <p>準備基本資料即可申請，簡單快速的審核流程，讓您資金調度更容易。</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mobile-right">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right">
                                <span class="fa fa-motorcycle"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">汽、機車改裝精品分期付款</a></h6>
                            <p>當天線上申請、最快可2小時撥款。</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right">
                                <span class="fa fa-cube"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">各項商品分期付款</a></h6>
                            <p>提供遠高於一般信用卡的高額度分期。</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right">
                                <span class="fa fa-retweet"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">國產機車、無牌電動車(新/中古)分期付款</a></h6>
                            <p>配合車廠辦理低月付、低利率、長期數專案。</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
      <!-- //mobile-info-->
    </div>
</section>
<!-- //我們的服務 Our Service -->

<!-- 公司簡介 -->
<section class="index1" id="about">
	<div class="calltoaction-20 py-5 editContent">
		<div class="container py-md-3">		
			<div class="calltoaction-20-content row">
				<div class="column center-align-self col-lg-6">
					<h5 class="editContent">公司簡介</h5>
                    <h6>為裕隆集團裕富數位資融股份有限公司所屬業務開發課－岳沐企業</h6>
					@*<p class="pt-3">
                        核心宗旨：安心、專業、快速、便利<br>
                        以最嚴謹的個資把關、因應市場多元需求，提供機車、商品、資金週轉等各項分期，
                        讓忙碌的您，一觸可即全方位線上金融申辦服務，先享樂，後支付，靈活繳款制度讓您輕鬆還款。
                    </p>*@
					@* <a class="btn btn-secondary btn-theme2 mt-2 mt-lg-3" href="about.html"> Read More</a> *@
				</div>
				<div class="column ccont-left col-lg-6 mt-lg-0 mt-5">
					<img src="~/images/company.svg" class="img-responsive" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //公司簡介 -->

<!-- 常見問題 -->
<section class="feature-3" id="question">
	<div class="grid top-bottom">
		<div class="container">
			<div class="heading text-center mx-auto">
                <h3 class="head text-white">常見問題</h3>          
            </div>
            <div class="faq-content accordion text-white pt-md-5 pt-3" id="accordion01">                
                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-01">
                    <a data-toggle="collapse" href="#">
                    註冊會員需要繳會費嗎?
                    </a>
                </div>
                <div id="collapse1-01" class="collapse" data-parent="#accordion01">
                <div class="card-body">
                    <p>
                    註冊會員<b>無需要付費</b>，只有當申辦成功後，才會向申請者收取相關費用。
                    </p>
                </div>
                </div>
            
                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-02">
                    <a data-toggle="collapse" href="#">
                    可以用別人的手機號碼註冊會員嗎?
                    </a>
                </div>
                <div id="collapse1-02" class="collapse" data-parent="#accordion01">
                <div class="card-body">
                    <p>
                    因日後會收到繳款條碼、優惠訊息及登入驗證等資訊，建議使用本人申辦的門號
                    </p>
                </div>
                </div>
            
                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-03">
                    <a data-toggle="collapse" href="#">
                    我該如何知道申辦有無成功?
                    </a>
                </div>
                <div id="collapse1-03" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                        可點LINE客服進行確認
                        </p>
                    </div>
                </div>

                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-04">
                    <a data-toggle="collapse" href="#">
                    申辦借款幾天可得知結果?
                    </a>
                </div>
                <div id="collapse1-04" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                        最快1天有審核結果，申辦2天內撥款。
                        </p>
                    </div>
                </div>

                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-05">
                    <a data-toggle="collapse" href="#">
                    申辦借款流程?
                    </a>
                </div>
                <div id="collapse1-05" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                            點選立即申辦→會員登入／註冊→填寫申辦資料→至LINE洽客服人員案件狀況→接聽照會電話→人員將主動通知案件結果→對保→撥款
                        </p>
                    </div>
                </div>

                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-06">
                    <a data-toggle="collapse" href="#">
                    借款成功後最快什麼何時撥款呢?
                    </a>
                </div>
                <div id="collapse1-06" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                        對保程序完後，隔天即可撥款。
                        </p>
                    </div>
                </div>

                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-07">
                    <a data-toggle="collapse" href="#">
                    申辦分期，是否會讓家人、公司、朋友知道呢?
                    </a>
                </div>
                <div id="collapse1-07" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                        全程可協助保密申辦。
                        </p>
                    </div>
                </div>

                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-08">
                    <a data-toggle="collapse" href="#">
                    申辦成功後何時要繳款呢?
                    </a>
                </div>
                <div id="collapse1-08" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                        原則上是隔月同撥款日，請洽詢首頁LINE客服諮詢。
                        </p>
                    </div>
                </div>

                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-09">
                    <a data-toggle="collapse" href="#">
                    貴公司在哪裡?
                    </a>
                </div>
                <div id="collapse1-09" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                        全省皆有據點。
                        </p>
                    </div>
                </div>

                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-10">
                    <a data-toggle="collapse" href="#">
                    我的資料會不會外洩?
                    </a>
                </div>
                <div id="collapse1-10" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                        我司會盡善良人義務及遵守個資法，未經會員同意不會將個資外洩。
                        </p>
                    </div>
                </div>

                <div class="card-header-faq collapsed" data-toggle="collapse" data-parent="#accordion01" href="#collapse1-11">
                    <a data-toggle="collapse" href="#">
                    繳款方式?
                    </a>
                </div>
                <div id="collapse1-11" class="collapse" data-parent="#accordion01">
                    <div class="card-body">
                        <p>
                        每月發送簡訊條碼至超商繳款、首頁按繳款查詢驗證後即有個人專屬繳款帳號。
                        </p>
                    </div>
                </div>
            </div>

			@* <div class="middle-section grid-column mt-5 pt-3">
				<div class="three-grids-columns">
				<h5>2450 <span>+</span></h5>
					<h4>Team Members</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Vestibulum ante ipsum primis in faucibus orci luctus </p>
				</div>
				<div class="three-grids-columns">
					<h5>550 <span>+</span></h5>
					<h4>Projects</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Vestibulum ante ipsum primis in faucibus orci luctus </p>
				</div>
				<div class="three-grids-columns">
					<h5>3450 <span>+</span></h5>
					<h4>Happy Clients</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Vestibulum ante ipsum primis in faucibus orci luctus </p>
				</div>
				<div class="three-grids-columns">
					<h5>450 <span>+</span></h5>
					<h4>Media Managment</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Vestibulum ante ipsum primis in faucibus orci luctus </p>
				</div>
				<div class="three-grids-columns">
					<h5>180 <span>+</span></h5>
					<h4>Finance</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Vestibulum ante ipsum primis in faucibus orci luctus </p>
				</div>
				<div class="three-grids-columns">
					<h5>1200 <span>+</span></h5>
					<h4>Brands</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Vestibulum ante ipsum primis in faucibus orci luctus </p>
				</div>
			</div> *@
		</div>
	</div>
</section>
<!-- //常見問題 -->

<!-- contact -->
<section class="contacts-2" id="contact">
    <div class="contacts-main">  
        <div class="form-41-mian py-5">
            <div class="container py-md-3 py-2">
                <h3 class="cont-head">聯絡我們</h3>
                <div class="d-grid align-form-map">
                    <div class="form-inner-cont">                    
                        <form action="@Url.Action("conactUs", "Home")" method="post" class="main-input">
                            @Html.AntiForgeryToken()
                            <div class="top-inputs d-grid">
                                <input type="text" placeholder="稱呼" name="name" id="name">
                                <input type="text" name="lineID" placeholder="LINE ID" id="lineID">
                            </div>
                            <input type="text" placeholder="手機號碼" name="phone" id="phone" required="">
                            <input type="email" name="email" placeholder="email" id="email" required="">
                            <textarea placeholder="問題留言" name="message" id="message"></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-block btn-theme3">送出</button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="contact-right">
                        <img src="~/images/contact_us.svg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="container py-md-3 py-2">
                <div class="d-grid contact section-gap">
                    <div class="contact-info-left d-grid text-center">
                        <div class="contact-info">
                            <span class="fa fa-location-arrow" aria-hidden="true"></span>
                            <h4>服務據點</h4>
                            <p>高雄市鳳山區五甲二路278巷14弄5號</p>
                        </div>
                        <div class="contact-info">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                            <h4>聯絡資訊</h4>
                            <p><a href="tel:0916-544-389">0916-544-389</a></p>
                        </div>
                        <div class="contact-info">
                            <span class="fa fa-history" aria-hidden="true"></span>
                            <h4>服務時間</h4>
                            <p>週一至週五 8:30至21:00</p>
                            <p>假日 10:00至18:00</p>
                            <p>過年休息</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</section>
<!-- //contact -->

<!-- contact map -->
<section class="contacts-12" id="contact_map">
    <div class="contact-top">
        <!-- map -->
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1841.702928221148!2d120.33577821296895!3d22.601314633249604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0353c675930f%3A0x90734a5aa4cc4897!2zODMw6auY6ZuE5biC6bOz5bGx5Y2A5LqU55Sy5LqM6LevMjc45be3MTTlvIQ16Jmf!5e0!3m2!1szh-TW!2stw!4v1634103890998!5m2!1szh-TW!2stw"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <!-- //map -->
    </div>
</section>
<!-- //contact map -->

<!-- News Modal -->
<div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newsModalLabel">News title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="newsModalContent" class="modal-body">
                New Content
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<!-- //News Modal -->
<script>  
    function showModal() {
        var _content = $(event.target).text();
        $('#newsModalLabel').text(_content);
        $('#newsModalContent').text(_content);
    }
</script>
