@{
    ViewData["Title"] = "會員中心";
    Layout = "_Layout_login";
}
<section style="background-color: #fafafa; min-height: 75vh;">
  <div class="py-sm-5 py-4">
    <div class="container py-lg-3 py-2">
      <div class="success-page text-center">
        <h4>最近一次申辦成功時間</h4>
        <h3>2021/01/06  12:15:14</h3>
        <p>提醒您：尚有30天可再次提出申辦</p>
        <img src="~/images/plan.svg" alt="還未能提出申請" class="img-fluid py-3" width="600px">
      </div>
      

    </div>
  </div>
</section>